.about {
    width: 100%;
    margin-top: 5rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    overflow: hidden;


    #row {
        max-width: 95.6%;
        position: relative;
        left: 6.5%;

        .image {

            // .bg-canva {
            //     width: 22.8rem;
            //     height: 40rem;
            //     position: absolute;
            //     left: -5%;
            //     border-radius: 60px;
            //     transform: rotate(-42deg);
            //     background-color: $secondary;

               
            // }

            .profil {
                margin-top: 0rem;
                width: 100%;
               

                img {
                    border-radius: 3px;
                    width: 69%;
                    height: 16.6rem;
                    object-fit: cover; /* Utilisez une hauteur maximale */

                     &:nth-child(2){
                          position: absolute;
                          width: 25%;
                          left: 11rem;
                          top: 6rem
                     }

                     &:nth-child(1){
                         z-index: 15;
                     }
                    }
            }
        }

        .content{
            width: 95%;
            margin-left: 1%;
            

             .title{

                  h2{
                      color:$secondary;
                      font-family: 'Prompt', sans-serif;
                      font-weight: bold;
                      margin-left: 0.9rem;
                      font-size: 26px;
                      text-shadow: 0 0.5px 1.5px rgba(90, 87, 87, 0.212);
                  }

                  .spinner {
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    border: 8.4px solid $secondary; /* Couleur du cercle */
                    border-top: 4px solid transparent; /* Partie supérieure transparente */
                    animation: spin 1.8s linear infinite; /* Animation de rotation */
                  }

                  @keyframes spin {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
                  }
             }

             .main-title{
                 
                 h1{
                     font-size: 32px;
                     font-family: $font-1;
                     font-weight: 700;
                     color: $color-1;

                 }
             }

             .desc{

                 p{
                     font-size: 19.5px;
                     color: $color-2;
                 }

                 button{
                     padding: 7px;
                     padding-left: 1.7rem;
                     padding-right: 1.7rem;
                     font-size: 19px;
                     color: #fff;
                     text-shadow: 0 0.6px 2px rgba(44, 43, 43, 0.651);
                     background-color:$secondary;
                     font-weight: bold;

                       .icon{
                        text-shadow: 0 0.6px 2px rgba(44, 43, 43, 0.651);
                        font-size: 20px;
                       }
                 }
             }
        }
    }
}