.services {
     width: 100%;
      padding-bottom: 5rem;
     background-color: #eeeeee;
     padding-top: 4rem;


     #row1 {

          .title {

               h2 {
                    color: $secondary;
                    font-family: 'Prompt', sans-serif;
                    font-weight: bold;
                    margin-left: 0.5rem;
                    font-size: 26px;
                    text-shadow: 0 0.5px 2.5px rgba(56, 54, 54, 0.438);
               }

               @include spin;

               .spinner {
                    position: relative;
                    left: -0.8rem;
               }

               h1 {
                    font-size: 35px;
                    font-family: $font-1;
                    font-weight: 700;
                    color: $color-1;
                    text-shadow: 0 0.5px 0.1px rgba(56, 54, 54, 0.438);

               }

               p {
                    font-size: 19.5px;
                    color: $color-2;
                    margin-top: 0.9rem;
               }
          }
     }

     #row2{
          margin-top: 1.7rem;
          max-width: 89%;
          position: relative;
          left: 8%;



           .box{
                width: 100%;
                height: 19rem;
                overflow: hidden;
                background-color: rgb(241, 245, 248);
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                box-shadow: 0 2px 8.2px rgba(58, 57, 57, 0.603);
                border: 1px solid $secondary;
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;

                  &_img{

                    width: 100%;
                    height: 19rem;
                    
                    overflow: hidden;
                      
                     img{
                         object-fit: cover;
                         filter: brightness(92%);
                         width: 100%;
                         position: relative;
                         height: 19rem;
                     }
                  }

                  &_content{
                    cursor: pointer;
                     width: 100%;
                     padding-top: 1rem;
                      padding-bottom: 5rem;
                      border-top-right-radius: 17px;
                     position: relative;
                    
                     background-color: rgba(27, 27, 26, 0.767);
                     z-index: 5;

                       .main-title{
                           
                          h1{
                               font-size: 26.5px;
                               font-family: $font-2;
                               color: $secondary;
                          }

                          .lig{
                               border-radius: 15px;
                               height: 4.6px;
                               background-color: $secondary;
                          }

                          .lig_open{
                              width: 76%;
                              margin-left: 12.5%;
                              transition: 0.1s ease-in;
                          }
                          .lig_close{
                              width: 37%;
                              margin-left: 32.2%;
                              transition: 0.1s ease-in;
                          }
                       }

                       .desc{

                          p{
                               font-size: 18.5px;
                               color: #fff;
                          }

                          button{
                               padding: 4px;
                               padding-left: 1.4rem;
                               padding-right: 1.4rem;
                               font-weight: bold;
                               border: 3.2px solid $secondary;
                               background-color: rgba(24, 23, 23, 0.911);
                               box-shadow: 0px 0px 31px rgba(100, 100, 5, 0.76);
                               color: #fff;
                               font-size: 18px;
                          }

                          .truncate {
                              display: -webkit-box;
                              -webkit-box-orient: vertical;
                              -webkit-line-clamp: 4; /* Nombre de lignes après lesquelles le texte sera tronqué */
                              overflow: hidden;
                            }
                       }
                  }

                  .open{
                     position: relative;
                     top: -16.7rem;
                     transition: 0.19s ease-in;
                  }

                  .close{
                    position: relative;
                    top: -5rem;
                    transition: 0.19s ease-in;
                  }

               
           }
           
     }
}